* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 @import "./components/variables";
@import "./components/header";
@import "./components/index";
body{ 
    background-color: $bgcolor;
    font-family: 'Mulish', sans-serif;
}
ul{ 
    list-style: none;
    padding: 0;
}




.main__clases{
    color:rgb(48, 48, 45);
    background-image:url(../images/fondo\ clases.png);
    background-attachment:fixed;
    height: 80vh;
    margin-top: 0px;
    margin-bottom: 200px;
    padding: 170px;
    text-align: center;

    box-shadow: 5px 5px 10px rgb(160, 158, 158);
}
.main__clases h1{
    font-weight:normal;
    font-size: 20px;
}
.boton__clases{
    margin: 50px;
    font-size: 20px;
    color: rgb(71, 70, 68);
    background-color:#f7eadf;
    border-radius: 10px;
    width: 200px;
    height:50px;
    border-style: solid;
    border-color:rgb(48, 48, 45) ;
}
.boton__clases a{
    color: rgb(71, 70, 68);
    text-decoration: none;
}
img{
    border-radius: 20px;
} 


.section__info__clases{
    display: flex;
    gap: 30px;
    background-color:#d5d5da;
    border-style:solid;
    border-color: rgba(184, 184, 184, 0.979);
    margin: 70px;
    padding: 70px;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    line-height: 40px;
}
.section__info__clases h2{
    flex-direction: column;
   
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: lighter;
}

.mediumsm{
    border-style: solid;
    border-color: rgb(201, 180, 181);
    margin: 30px;
    border-radius: 20px;
    background-image: url(../images/fondocontanctos.jpeg);
    background-position: center;
    background-attachment:local;
    background-size: cover;
    box-shadow: 5px 5px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
    color: rgb(44, 44, 42);
    padding-bottom: 20px;
}
.main__clases h1{
    font-size: 70px;
}



@import"./components/footer";



@import"./components/formulario";


.clases{
    padding: 20px;
    gap: 10px;
    margin-bottom: 40px;
    text-align: center;
    
}
.hola{
    margin-left: 120px;
}
.clases1{
    
    font-weight: lighter;
    text-align: center;
}

.btn__clases{
    margin-top: 30px;
    font-size: 20px;
    color: $bgcolor;
    background-color:rgb(160, 151, 158);
    border-radius: 10px;
    width: 200px;
    height:50px;
    border-style: solid;
    border-color:rgb(78, 73, 77) ;
}
.transiciones:hover button{
    animation-name: transicion;
    animation-duration: 1s;
}
.compra:hover{
    animation-name: transicion;
    animation-duration: 1s;
}

@keyframes t{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.1);
    }
}
@keyframes transicion{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.3);
    }
    

}
.clases__form{
    font-weight: lighter;
    font-size: 30px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}
.clases__form h2{ 
    font-weight: lighter;
}
.boton__clas{
    margin-top: 30px;
    font-size: 20px;
    color: black;
    background-color:$bgcolor;
    border-radius: 10px;
    width: 200px;
    height:50px;
    border-style: solid;
    border-color:rgb(78, 73, 77) ;
}


.boton__clas a{
    color: black;
    text-decoration: none;
}
.boton__clas:hover a{
    animation-duration:1s ;
    animation-name: llenar;
    animation-delay: 1s;
    
} 
 @keyframes llenar{
    from {
        background-color:$bgcolor ;
        color: black;
    }
    to {
        background-color:black ;
        color: $bgcolor ;
        
    }
}
.nosotros{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}


.profesor{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 100px, 300px;
    grid-template-areas: 
    "p1 p1 p1"
    "p2 p3 p4";
    column-gap: 150px;
    align-items: center;
    justify-content: center;
}
.profesor h3{
    font-weight: lighter;
}
.prof1{
    grid-area: p1;
    font-weight: lighter;
    font-size: 45px;
    margin-top: 90px;
}
.prof2{
    grid-area: p2;
    font-size: 20px;
}
.prof13{
    grid-area: p3;
    font-weight: 100px;
    font-size: 20px;
}
.prof4{
    grid-area: p4;
    font-weight: 100px;
    font-size: 20px;
}

.profesores img{
    border-radius: 100%;
    margin: 40px;
    width: 200px;
}

.clases h2{
    margin-bottom: 0px;
    margin-top: 40px;
    font-size: 40px;
}
.materiales h3{
    text-align: center;
}


.header i{
    display: none;
}



.main__materiales{
    background-color: #cec8c2;
    padding: 150px;
    padding-bottom: 150px;
    margin-bottom: 140px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-weight:lighter;
    gap: 50px;
}
.main__materiales h1{
    font-size: 70px;
    font-weight:400;
}
.main__materiales h2{
    font-size: 35px;
    font-weight: lighter;
    font-style: italic;
}
.main__materiales h3{
    font-size: 30px;
    font-weight: lighter;
}
.compra{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-top:15px;
}


.gridm{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 100px, 300px;
    grid-template-areas: 
    "hijom1 hijom1 hijom1"
    "hijom2 hijom3 hijom4";
    align-items: center;
    justify-content: center;
}
.hijom1{
    grid-area:hijom1;
    font-size: 40px;
    font-weight: lighter;
}
.hijom2{
    grid-area:hijom2;
}
.hijom3{
    grid-area: hijom3;
}
.hijom4{
    grid-area: hijom4;
}


@media screen and (max-width:600px){
   
   .main{
       display: flex;
       justify-content: center;
       padding: 0;
       background-color: $bgcolor ;
      
   }
   .grid{
       grid-template-columns: 100%;
       grid-template-rows: 1fr;
       align-items: center;
       justify-items: center;
   }
   .mediums{
       width: 100px;
   }
   .video{
       padding: 0;
       margin: 10px;
       margin-left: 0;
       margin-right:0 ;
   }
   .img__inicio{
       display: none;
   }
   .h1{
      
       width: 300px;
       display: flex;
       justify-content: center;
       padding: 0;
       font-size: 50px;
   }
   .display-4{
    width: 300px;
       display: flex;
       justify-content: center;
       padding: 0;
       font-size: 50px;
       font-size: 20px;
}

.unop{
    width: 300px;
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 50px;
    font-size: 3px;
}
.main button {
    width: 300px;
       display: flex;
       justify-content: center;
     
}
div .mediums{
    width: 1000px;
}
   
    .section__info{
        width: 100%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: 
        "e1 el1"
        "e2 el2"
        "e3 el3";
        color: black;
        background-color: rgba(223, 223, 223, 0.979);
        padding: 10px;
        margin-top: 70px;
        margin-bottom: 120px;
        gap: 0px;
        column-gap: 0px;
        text-align: left;
        align-content: center;
        justify-content: center;
    }
    .section__info h2{
        width: 100%;
        text-align: left;
        font-size: 20px;
        display: flex;
        align-items:center;
    }
    
    .divm{
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px, 80px, 400px, 400px, 400px, 400px;
        grid-template-areas: 
             "t1"
             "t2"
             "m1"
             "m2"
             "m3"
             "m4";
    }
    footer{
        flex-direction: column;
        gap: 1rem;
        background-image: linear-gradient(to left, rgb(24, 23, 22),rgb(80, 79, 78));
        height: 40vh;
        width: 100%;
    }
    footer h2{
        font-size: 30px;
    }
    .wpp{
        font-size: 15px;
    }
    footer img{
        width: 40px;
        height: 40px;
    }
    .main__materiales h1{
        font-size: 35px;
        text-align: center;
    }
    .main__materiales h2{
        font-size: 20px;
        text-align: center54;
    }
    .gridm{
        
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px, 400px, 400px, 400px;
        grid-template-areas: 
             "hijom1"
             "hijom2"
             "hijom3"
             "hijom4";
    }
    .hijom1{
        
        font-size: 25px;
    }
    .hijom2 a{
        font-size: 20px;
    }
    .hijom3 a{
        font-size: 20px;
    }
    .hijom4 a{
        font-size: 20px;
    }
    .pregunta div{
        width: 10px;
    }
    
    .main__clases{
        font-size: 20px;
        height: 40vh;
        padding: 80px;
        margin: 0%;
    }
    .section__info__clases{
        font-size: 15px;
        margin: 0;
        margin-top: 110px;
        margin-bottom: 100px;
        padding: 40px;
    }
    .section__info__clases h2{
        font-size: 25px;
        margin-bottom: 20px; 
    }
   
    .cl div{
        justify-items: auto;
        text-align: center;
        padding: 20px;
       
    
    }
    .clases__form{
        font-size: 20px;
        margin: 20px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .main__materiales{
        padding: 80px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .profesor{
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px, 300px, 300px, 300px;
        grid-template-areas: 
             "p1"
             "p2"
             "p3"
             "p4";
    }
    .profesores img{
        margin-top: 50px;
        width: 150px;
    }
    .form{
        margin: 50px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 15px;
    }
    .radio{
        flex-direction: column;
        
        margin-left: 10px;
        align-items: center;
        justify-content: center;
    }
    .form div h3{
        margin-bottom: 10px;
    }
    .form button{
        width: 80px;
        height: 25px;
        font-size: 15px;
        
    }
    .limpiar {
        width: 80px;
        height: 25px;
        font-size: 15px;
    }
    .main__clases h1{
        font-size: 30px;
        align-self: center;
        justify-content: center;
        text-align: center;
        margin-left: 40px;
    }
} 