* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "./components/variables";
@import"./components/global";
@import "./components/header";
@import "./components/index";
@import"./components/footer";
@import"./components/clases";
@import"./components/formulario";


body{ 
    background-color: $bgcolor;
    font-family: 'Mulish', sans-serif;
}
ul{ 
    list-style: none;
    padding: 0;
}

.mediumsm{
    @include cardconteinter(25px, 'yes');

}
.nosotros{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 40px;
}


.profesor{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: 100px, 300px;
    grid-template-areas: 
    "p1 p1 p1"
    "p2 p3 p4";
    column-gap: 150px;
    align-items: center;
    justify-content: center;
}
.profesor h3{
    font-weight: lighter;
}
.prof1{
    grid-area: p1;
    font-weight: lighter;
    font-size: 45px;
    margin-top: 90px;
}
.prof2{
    grid-area: p2;
    font-size: 20px;
}
.prof13{
    grid-area: p3;
    font-weight: 100px;
    font-size: 20px;
}
.prof4{
    grid-area: p4;
    font-weight: 100px;
    font-size: 20px;
}

.profesores img{
    border-radius: 100%;
    margin: 40px;
    width: 200px;
}

.clases h2{
    margin-bottom: 0px;
    margin-top: 40px;
    font-size: 40px;
}
.materiales h3{
    text-align: center;
}


.header i{
    display: none;
}



.main__materiales{
   @extend .TitleTemplate
};
.main__nosotros{
    @extend .TitleTemplate
 };
.main__materiales h1{
    font-size: 70px;
    font-weight:400;
}
.main__materiales h2{
    font-size: 35px;
    font-weight: lighter;
    font-style: italic;
}
.main__materiales h3{
    font-size: 30px;
    font-weight: lighter;
}
.main__nosotros h1{
    font-size: 70px;
    font-weight:400;
}
.main__nosotros h2{
    font-size: 35px;
    font-weight: lighter;
    font-style: italic;
}
.main__nosotros h3{
    font-size: 30px;
    font-weight: lighter;
}
.compra{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-top:15px;
}
.compra:hover {
    animation-name: t;
    animation-duration: 1s;
}

@keyframes t{
    0%{
        transform:scale(1);
        color: black;
    }
    100%{
        transform:scale(1.1);
        color: black;
    }
}

.gridm{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 100px, 300px;
    grid-template-areas: 
    "hijom1 hijom1 hijom1"
    "hijom2 hijom3 hijom4";
    align-items: center;
    justify-content: center;
}
.hijom1{
    grid-area:hijom1;
    font-size: 40px;
    font-weight: lighter;
    text-align: center;
}
.hijom2{
    grid-area:hijom2;
}
.hijom3{
    grid-area: hijom3;
}
.hijom4{
    grid-area: hijom4;
}



     
@media screen and (max-width:600px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
   .header{
       width: 100%;
   }
    .main{
        display: flex;
        justify-content: center;
        padding: 0;
        width: 96%;
        background-color: $bgcolor ;
        margin-bottom: 10px;
        & .unop{
            width: 350px;
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;
            margin-top: 20px;
            font-size: 22px;
            text-align: justify;
        }
        & button{
                width: 300px;
                display: flex;
                justify-content: center;
                margin: 0;
                margin-top: 40px;
                padding: 0;
                margin-left: 20px;
            }
    }
   .h1{
        width: 350px;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 50px;
        text-align: center;
    }
    .display-4{
     width: 350px;
        display: flex;
        justify-content: center;
        padding: 0;
        font-size: 50px;
        font-size: 20px;
 }
 .mediums{
    @include cardconteinter(120px, 'no');
    display: flex;
    justify-content: center;
   padding: 0;
}
 
    .video{
        padding: 0;
        margin: 10px;
        margin-left: 0;
        margin-right:0;
       
    }
    .img__inicio{
        display: none;
    }


    .section__info{
        width: 100%;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 200px);
        grid-template-areas: 
        "e1 el1"
        "e2 el2"
        "e3 el3";
        color: black;
        background-color: rgba(223, 223, 223, 0.979);
        padding: 20px;
        margin-top: 70px;
        margin-bottom: 10px;

        gap: 0px;
        column-gap: 0px;
        text-align: left;
        align-content: center;
        justify-content: center;

    }

    .section__info h2{
        width: 100%;
        text-align: justify;
        font-size: 18px;
        display: flex;
        align-items:center;
        margin-right: 100px;
    }
    .pregunta{
        font-size: 30px;
    }
    .p{
        font-size: 20px;
        margin: 10px;
    }
    .divm{
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px, 80px, 400px, 400px, 400px, 400px;
        grid-template-areas: 
             "t1"
             "t2"
             "m1"
             "m2"
             "m3"
             "m4";
    }
    footer{
        flex-direction: column;
        gap: 1rem;
        background-image: linear-gradient(to left, rgb(24, 23, 22),rgb(80, 79, 78));
        height: 50vh;
        width: 100%;
    }
    footer h2{
        font-size: 30px;
    }
    .wpp{
        font-size: 15px;
    }
    .insta{
        font-size: 15px;
    }
    footer img{
        width: 40px;
        height: 40px;
    }
    .main__materiales h1{
        font-size: 35px;
        text-align: center;
    }
    .main__materiales h2{
        font-size: 20px;
        text-align: center;
    }
    .main__nosotros h1{
        font-size: 35px;
        text-align: center;
    }
    .main__nosotros h2{
        font-size:19px;
        text-align: center;
    }
    .gridm{
        
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px, 400px, 400px, 400px;
        grid-template-areas: 
             "hijom1"
             "hijom2"
             "hijom3"
             "hijom4";
    }
    .hijom1{
        
        font-size: 25px;
    }
    .hijom2 a{
        font-size: 20px;
    }
    .hijom3 a{
        font-size: 20px;
    }
    .hijom4 a{
        font-size: 20px;
    }
    .pregunta div{
        width: 10px;
    }
    
    .main__clases{
        font-size: 20px;
        height: 50vh;
        padding: 80px;
        margin: 0%;
        width: 100%;
    }
    
    .section__info__clases{
        font-size: 15px;
        margin: 0;
        margin-top: 110px;
        margin-bottom: 100px;
        padding: 40px;
    }
    .section__info__clases h2{
        font-size: 25px;
        margin-bottom: 20px; 
    }
   
    .cl div{
      display: flex;
        width: 100vw;
        margin: 0;
        justify-content: center;
        justify-items: center;
       }

    .clases__form{
        font-size: 20px;
        margin: 20px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .main__materiales{
        padding: 80px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .main__nosotros{
        padding: 80px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .profesor{
        text-align: center;
        padding: 20px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px, 300px, 300px, 300px;
        grid-template-areas: 
             "p1"
             "p2"
             "p3"
             "p4";
    }
    .profesores img{
        margin-top: 50px;
        width: 150px;
    }
    .fondo{
        background-color: $bgcolor;
        background-image: none;
    }
    .form{
        border-radius: 0%;
        box-shadow: none;
        width: 100%;
        background-color: #f8f6f0;
        margin: 0px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 15px;
    }
    .formulario{
        font-weight: bolder;
    }
    .form div h3{
        margin-bottom: 10px;
        font-weight:normal;
    }
    .form div label{
        font-weight:lighter;
    }
   
    .form button{
        width: 80px;
        height: 25px;
        font-size: 15px;
        
    }
    .limpiar {
       display: none;
    }
    .main__clases h1{
        font-size: 30px;
      width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        justify-items: center;
        text-align: center;
    }
    .main__clases button{
    
        align-self: center;
        justify-content: center;
        text-align: center;
    }
    .form .radio{
        color: black;
        display: flex;
        font-size: 15px;
    }
} 

@media screen and (max-width:450px) {
        
    .mediums{
     @include cardconteinter(80px, 'no');
     display: flex;
     justify-content: center;
    padding: 0;
 }
    .video{
     width: 180px;
     padding: 0;
     margin: 10px;
     margin-left: 0;
     margin-right:0;
    }
 
 }
 
@media screen and (max-width:320px) {
   .main{
       display: grid;
       grid-template-columns: 90%;
       grid-template-rows: 50px, 30px, 200px, 50px;
       grid-template-areas:
       "main1",
       "main2",
       "main3",
       "main4",
       ;
       justify-content: center;
       align-content: center;
       margin-top: 20px;
       padding: 0;
       & .h1{
      grid-area: "main1";
      margin: 0;
      margin-top: 10px;
      padding-left: 0;
      padding: 0;
      width: 250px;
       display: flex;
      text-align: center;
       }
       & h2{
           grid-area: "main2";
           margin: 0;
           margin-top: 10px;
           
      padding-left: 0;
      padding: 0;
      width: 250px;
       display: flex;
      text-align: center;
       }

       & .unop{
        grid-area: "main3";
        width: 250px;
        display: flex;
        margin-top: 20px;
        justify-content: center;
        text-align: justify;
        padding: 0;
        padding-left: 0;
        font-size: 18px;
       }
       & button{
        grid-area: "main4";
        margin: 0;
        margin-top: 30px;
        margin-left: 25px;
   padding-left: 0;
   padding: 0;
   width: 200px;
    display: flex;
   text-align: center;
        justify-items: center;
        font-size: 20px;
        width: 200px;
        height:45px;
    }
   }
   .mediums{
    @include cardconteinter(40px, 'no');
    display: flex;
    justify-content: center;
   padding: 0;
}
   .video{
    width: 170px;
    padding: 0;
    margin: 10px;
    margin-left: 0;
    margin-right:0;
   }

  .main__nosotros h1{
    font-size: 30px;
    text-align: center;
}
.main__nosotros h2{
    font-size:16px;
    text-align: justify;
    margin: 0;
    padding: 0;
    width: 100%;
}
.main__nosotros h3{
    font-size: 25px;
}
.main__materiales h1{
    font-size:30px;
}
.nombre{
    width: 100px;
    align-items: center;
    justify-content: center;
}
.fnombre{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 110px;
}
form{
    margin: 0;
    justify-content: center;
}
}

